nav {
    background: rgba(0,14,43,.8);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index:9999;
}

nav {
    div {
        a {
          text-decoration: none;
          color: #fff;
          padding: 20px;

        }
    }
} 

nav {
    div {
        a:hover {
            color: $tColor;
        }
    }
} 

#bedu-logo {
    margin-left: 20px;
    width: 75px;
}

#signin-signup {
    display: none;
}

#loginBar {
    color: $lightColor;
    background-color: $pColor;
    margin-right: 16px;
    border:1px solid #ffffff;
}